.main-content-login {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-container-login {
  background-color: #ffffff; 
  border: 3px solid #00bcd4;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 50px 20px rgba(10, 25, 49, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
}

.form-container-login:hover {
  box-shadow: 0 0 70px 30px rgba(10, 25, 49, 0.7);
}

.form-container-login h1 {
  font-size: 45px;
  color: #00bcd4; /* Primary color */
  font-family: 'Verdana', sans-serif;
  margin-bottom: 10px;
}

.form-container-login h3 {
  font-size: 18px;
  color: #0a1931; 
  font-family: 'Verdana', sans-serif;
  margin-bottom: 20px;
}

.form-group-login {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.input-box-login {
  width: 100%;
  padding: 12px 45px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  transition: 0.3s ease-in-out;
}

.input-box-login:focus {
  border-color: #0a1931;
  box-shadow: 0 0 8px rgba(0, 188, 212, 0.5);
}

.user-icon,
.lock-icon {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: #0a1931;
}

.login-btn {
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s;
  font-family: 'Arial', sans-serif;
}

.login-btn:hover {
  background-color: #0a1931;
  transform: translateY(-3px);
  color: #ffffff;
}

.login-end {
  margin-top: 20px;
  font-size: 16px;
  color: #0a1931;
  font-family: 'Verdana', sans-serif;
}

.login-end-link {
  color: #00bcd4;
  text-decoration: none;
  transition: color 0.3s;
}

.login-end-link:hover {
  text-decoration: underline;
  color: #0a1931;
}
